<footer class="site-footer">
  <!-- <div class="container">
    <div class="row">
      <div class="col-3">
        YTEST
      </div>
      <div class="col-3">
        2YRTESYT
      </div>
      <div class="col-6">
        SDFSDFSDF
      </div>
    </div>
  </div> -->
</footer>

<script src="{{ site.github.url }}/js/smartquotes.js"></script>
<script>smartquotes()</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-79506876-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-79506876-2');
</script>