<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }} - a collection of quotations{% endif %}</title>
  <link rel="stylesheet" href="/main.css">
  <meta name="google-site-verification" content="cwo7SJgHRGZn64HNxVPjeX-Xa_kKgb-GMfSXQCdZNZ8" />
  <!-- <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@nytimes">
  <meta name="twitter:creator" content="@SarahMaslinNir">
  <meta name="twitter:title" content="Parade of Fans for Houston’s Funeral">
  <meta name="twitter:description" content="NEWARK - The guest list and parade of limousines with celebrities emerging from them seemed more suited to a red carpet event in Hollywood or New York than than a gritty stretch of Sussex Avenue near the former site of the James M. Baxter Terrace public housing project here.">
  <meta name="twitter:image" content="http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg"> -->
</head>