footer.site-footer {
  background-color: transparent;
  width: 100%;
  padding: 1em $page-gutter;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer.site-footer div {
  font-family: "Press Start 2P", sans-serif;
  margin: 0;
  padding: 3px 3px 0;
  // font-size: 32px;
  font-weight: normal;
  display: inline-block;
}

footer.site-footer a {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}
