// Some variables
$color-border: #eee;
$page-gutter: 15px;

@import "utils";
@import "nav";

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: normal;
  color: black;
}

// section {
//   padding-left: $page-gutter;
//   padding-right: $page-gutter;
// }

@import "responsive";
