// Some variables
$color-border: #eee;
$page-gutter: 15px;

body {
  
}

.quote-list {
 
}

.quote-list a {
  text-decoration: none;
  color: black;
}

.quote-list a:visited {
  color: black;
}

.quote-link {
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

@import "utils";
@import "nav";
@import "footer";
@import "quotation";
@import "responsive";
