nav {
  background-color: transparent;
  width: 100%;
  // border-bottom: 1px solid $color-border;
  padding: 8px $page-gutter;
  display: flex;
  align-items: center;
}

nav > h1 {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  margin: 0;
  padding: 3px 3px 0;
  font-size: 32px;
  font-weight: normal;
  display: inline-block;
  top: 10px;
  left: 10px;
}

nav > h1 > a {
  color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
