nav.site-navigation {
  padding: 0px $page-gutter;
  color: rgb(255, 255, 255);
  background-image: url(/assets/img/leaves.jpg);

  .flex-container {
    display: flex;
    align-items: center;
    min-height: 64px;
  }

  a.branding {
    font-size: 32px;
    color: rgb(230, 230, 230);
    text-decoration: none;
    border: none;
    font-family: "Press Start 2P", sans-serif;
    display: inline-block;
  }
}
