.quotation-date,
.quotation-tags {
  color: $color-medium-grey;
  margin-right: 2px;
  margin-left: 4px;

  span {
    margin-right: 3px;
    margin-left: 4px;
  }
}

h1.mark {
  font-family: "Press Start 2P", cursive;
  font-size: 3em;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  font-size: $quote-font-size;
  line-height: $quote-line-height;

  @media screen and (max-width: 600px) {
    font-size: $quote-font-size-mobile;
  }

  cite.author {
    font-style: normal;
    white-space: nowrap;
  }

  cite {
    font-size: 0.9em;
  }
}
