blockquote {
  margin-left: 0;
  margin-right: 0;
  font-size: $quote-font-size;
  line-height: $quote-line-height;

  cite.author {
    font-style: normal;
  }

  cite {
    white-space: nowrap;
  }
}