.quotation-date,
.quotation-tags {
  font-size: 16px;
  color: $color-medium-grey;
  margin-right: 10px;

  a {
    color: #666;
  }
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  font-size: $quote-font-size;
  line-height: $quote-line-height;

  @media screen and (max-width: 600px) {
    font-size: $quote-font-size-mobile;
  }

  cite.author {
    font-style: normal;
    white-space: nowrap;
  }

  cite {
    font-size: 0.9em;
  }
}
