// Disable rubber band scrolling on macOS
// html {
//   height: 100%;
//   width: 100%;
//   overflow: hidden;
// }

// Box sizing reset
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}