<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include nav.html %}
<main>
  <div class="container">
    <h1>{{ page.title }}</h1>
    {% assign sortedQuotations = site.quotations | sort: 'date' | reverse %}
    {% for quote in sortedQuotations %}
    {% if quote.author contains page.title %}
    <p class="list-quote">
      <a href="{{ quote.url }}">{{quote.text | truncatewords: 42 }}</a>
    </p>
    {% endif %}
    {% endfor %}
  </div>
</main>
{% include foot.html %}
</body>
</html>