---
layout: default
---



<div class="home">

  <div class="container-fluid">
      <div class="container section-intro">
          <h1>
              <span class="small">Hand-Picked Quotations <i>from</i></span>
              <em>All over the web</em>
              <span class="small"><i>with</i> Hand-Picked Type <i>from</i></span>
              <em>Google Fonts</em>
          </h1>

          <div class="wrapper">
              <div class="colophon">
                <p>There are a lot of quotations in the world.</p>
                <p>We are just getting started. So there will be more here in the near future.</p>
              </div>
              <div class="colophon">
                <p>All fonts are from <a href="https://fonts.google.com/">Google Fonts</a>. All photographic images are from <a href="http://unsplash.com" target="_blank">Unsplash.com</a></p>
              </div>
              <div class="colophon">
                <p>If you&rsquo;d like to contribute to this project, please <a href="https://github.com/quoke/quoke.github.io">submit a pull request on Github</a>.</p>
                <p>Follow <a href="http://twitter.com/phocks">phocks on Twitter</a> for more info.</a></p>
              </div>
          </div>

      </div>
  </div>

  <!--<h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->

</div>
