<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<body class="home">
  <header>
    {% include navigation.html %}
  </header>
  <section>
   <ul class="quote-list">
     
    {% assign sortedQuotations = site.quotations | sort: 'date' | reverse %}
    {% for quote in sortedQuotations %}
      {% if quote.tags contains 'featured' %}
       <div class="quote-container">
         {{quote.content}}
         <!-- <span class="view-more"><a href="/{{quote.slug}}">ⓘ</a></span> -->
        </div>
      {% endif %}
    {% endfor %}
  
  
  </ul>
  </section>
  {% include footer.html %}
  {% include foot.html %}
</body>

</html>



 <!-- <ul class="quote-list">
    {% assign sortedQuotations = site.quotations | sort: 'date' | reverse %}
    {% for quote in sortedQuotations %}
    <li>
      <a href="{{ quote.url }}">{{ quote.title }}</a>
    </li>
    {% endfor %}
  </ul> -->
 <!-- <div class="pre-fold">
      <span class="vertical-text pixel-font">&gt;</span>
    </div> -->


    <!-- <div class="wrap-collapsible">
          <input id="{{quote.slug}}" class="toggle" type="checkbox">
          <label for="{{quote.slug}}" class="lbl-toggle" tabindex="0">More Info</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <p>
                QUnit is by calling one of the object that are embedded in JavaScript, and faster JavaScript program could also used with
                its elegant, well documented, and functional programming using JS, HTML pages Modernizr is a popular browsers without
                plug-ins. Test-Driven Development.
              </p>
            </div>
          </div>
        </div> -->