<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include nav.html %}
    <main class="home">
      {% assign sortedQuotations = site.quotations | sort: 'date' | reverse %}
      {% for quotation in sortedQuotations limit:2 %} {% if forloop.index == 1
      %}
      <div class="single-quotation">
        <div class="date">{{ quotation.date | date_to_long_string}}</div>
        <figure class="quote">
          <blockquote><q>{{ quotation.text }}</q></blockquote>
          <figcaption>
            <footer>
              &mdash; {{ quotation.author }}{% if quotation.source %},
              <cite>{{quotation.source }}</cite>
              {% endif %}
            </footer>
          </figcaption>
        </figure>
      </div>
      {% endif %} {% if forloop.index == 2 %}
      <div class="pagination">
        <a href="{{ site.github.url }}{{ quotation.url }}">next quote</a>
      </div>
      {% endif %} {% endfor %}
    </main>
    {% include foot.html %}
  </body>
</html>
