<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include nav.html %}
  <main>
    <h1>Quotations</h1>
    {% assign sortedQuotations = site.quotations | sort:
      'date' | reverse %}
      {% for quotation in sortedQuotations %}
      <span class="quotation-link">
        <a href="{{ quotation.url }}">{{ quotation.title }}</a>
      </span>
      {% endfor %}
    <h1>Authors</h1>
    {% assign sortedAuthors = site.authors | sort:
    'date' | reverse %}
    {% for author in sortedAuthors %}
    <span class="author-link">
      <a href="{{ author.url }}">{{ author.title }}</a>
    </span>
    {% endfor %}
  </main>
  {% include foot.html %}
</body>
</html>
