<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include nav.html %}
  <main>
  <div class="single-quote container">
    <div class="quote-content">
      <div class="quote-{{ page.size }}">
        <blockquote>
          &ldquo;{{ page.text }}&rdquo;
          {% if page.author %}
            &mdash;<a href="/author/{{ page.author | slugify }}"">{{ page.author }}</a>
          {% endif %}
        </blockquote>
      </div>
    </div>
  </div>
  </main>
  {% include foot.html %}
</body>

</html>