<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <main class="quotation">

      <div class="single-quotation">
        <div class="date">{{ page.date | date_to_long_string}}</div>
        <figure class="quote">
          <blockquote><q>{{ page.text }}</q></blockquote>
          <figcaption>
            <footer>
              &mdash; {{ page.author }}{% if page.source %},
              <cite>{{page.source }}</cite>
              {% endif %}
            </footer>
          </figcaption>
        </figure>
      </div>


      {% assign sortedQuotations = site.quotations | sort: 'date' | reverse %}
      {% for quotation in sortedQuotations %} 
      {% if quotation.title == page.title %}
        {% assign item_index = forloop.index %}
      {% endif %}
      {% endfor %}
      {% assign prev_index = item_index | minus: 1 %}
      {% assign next_index = item_index | plus: 1 %}
      {% for quotation in sortedQuotations %} 
       {% if forloop.index == next_index %}
        <div class="pagination">
          <a href="{{ site.github.url }}{{ quotation.url }}">next quote</a>
        </div>
      {% endif %} 
      {% endfor %}
    </main>
    {% include foot.html %}
  </body>
</html>
