<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include nav.html %}
  <main>
  <div class="single-quote container">
    <div class="quote-content">
      <div class="quote-{{ page.size }}">
        <blockquote>
          &ldquo;{{ page.text }}&rdquo;
          {% if page.author %}
            <cite class="author">&mdash;<a href="/author/{{ page.author | slugify }}">{{ page.author }}</a></cite>
          {% endif %}
          {% if page.source %}
          <cite>, <a href="/source/{{ page.source | slugify }}">{{ page.source }}</a></cite>
          {% endif %}
        </blockquote>
      </div>
    </div>
  </div>
  <hr>
  <div class="quotation-date">Date added: {{ page.date | date_to_string }}</div>
  </main>
  {% include foot.html %}
</body>
</html>