<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include nav.html %}
<main class="topic">
  <div class="container">
    <h1>{{ page.title }}</h1>
    {% assign sortedQuotations = site.quotations | sort: 'date' | reverse %}
    {% assign pageTitleSlug = page.title | slugify %}
    {% for quote in sortedQuotations %}
      {% for topic in quote.topics %}
        {% assign topicSlug = topic | slugify %}
        {% if topicSlug contains pageTitleSlug %}
          <p class="list-quote">
            <a href="{{ quote.url }}">{{ quote.text | truncatewords: 42 }}</a>
          </p>
        {% endif %}
      {% endfor %}
    {% endfor %}

    <p><a href="https://github.com/quoke/quoke.github.io/tree/master/_quotations">Add quotation</a></p>
  </div>
</main>
{% include foot.html %}
</body>
</html>